<mat-sidenav-container class="app-shell-container" autosize>

  <mat-sidenav
    #sidenav
    class="sidebar-panel"
    [ngClass]="{
      'sidebar-full': !collapsed,
      'sidebar-compact': collapsed
    }"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">

    <div class="navigation-panel" fxLayout="column">

      <div class="app-brand">
        <img src="assets/Mifos_Logo.png" alt="app-logo" class="app-logo">
        <span class="app-logo-text text-muted">Mifos</span>
        <!-- <img src="assets/Mifos_Text.png" alt="app-logo-text" class="app-logo-text"> -->
      </div>

      <div class="app-user">
        <div class="app-user-photo">
          <img src="assets/User.png" alt="app-user-photo">
        </div>
        <span class="app-user-name mb-05">
          Abhay Chawla
        </span>
        <div class="app-user-controls">
          <button class="text-muted xs-button" mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
          <button class="text-muted xs-button" mat-icon-button matTooltip="Sign Out">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </div>
      </div>

      <div class="app-sidenav">

        <div class="icon-menu">
          <div class="mt-1 mb-1 nav-item-sep">
            <mat-divider></mat-divider>
            <span class="text-muted icon-menu-title">Frequently Accessed</span>
          </div>
          <div class="icon-menu-item">
            <button mat-raised-button matTooltip="Home">
              <mat-icon>home</mat-icon>
            </button>
          </div>
          <div class="icon-menu-item">
            <button mat-raised-button matTooltip="Dashboard">
              <mat-icon>dashboard</mat-icon>
            </button>
          </div>
          <div class="icon-menu-item">
            <button mat-raised-button matTooltip="Navigation">
              <mat-icon>navigation</mat-icon>
            </button>
          </div>
        </div>

        <div class="nav-item-sep">
          <mat-divider></mat-divider>
          <span class="text-muted">Main Items</span>
        </div>

        <mat-nav-list>

          <mat-list-item>
            <mat-icon matListIcon>dashboard</mat-icon>
            <a matLine>Dashboard</a>
          </mat-list-item>

          <mat-list-item>
            <mat-icon matListIcon>navigation</mat-icon>
            <a matLine>Navigation</a>
          </mat-list-item>

        </mat-nav-list>

      </div>

    </div>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar fxLayout="row" color="primary" class="toolbar">

      <button mat-icon-button *ngIf="!collapsed" (click)="sidenav.toggle()" matTooltip="Toggle Hide/Open">
        <mat-icon>menu</mat-icon>
      </button>

      <button mat-icon-button *ngIf="sidenav.opened" (click)="toggleCollapse()" matTooltip="Toggle Collapse" fxHide.lt-md="true">
        <mat-icon *ngIf="!collapsed">chevron_left</mat-icon>
        <mat-icon *ngIf="collapsed">chevron_right</mat-icon>
      </button>

      <!-- <div class="search-bar" fxFlex="auto" fxHide.lt-sm="true">
        <mat-form-field>
          <input matInput type="text" placeholder="Search">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div> -->

      <nav mat-tab-nav-bar backgroundColor="primary" class="topbar-button-right" fxHide.lt-lg="true">
        <a mat-tab-link [active]="true" style="min-width: auto; padding: 0 16px;">
          <mat-icon class="mr-05">business</mat-icon>
          Institution
        </a>
        <a mat-tab-link style="min-width: auto; padding: 0 16px;">
            <mat-icon class="mr-05">account_balance</mat-icon>
          Accounting
        </a>
        <a mat-tab-link style="min-width: auto; padding: 0 16px;">
          <mat-icon class="mr-05">insert_chart_outlined</mat-icon>
          Reports
        </a>
        <a mat-tab-link style="min-width: auto; padding: 0 16px;">
            <mat-icon class="mr-05">security</mat-icon>
          Admin
        </a>
        <a mat-tab-link style="min-width: auto; padding: 0 16px;">
            <mat-icon class="mr-05">people</mat-icon>
          Self Service
        </a>
      </nav>

      <span fxFlex="auto"></span>

      <div *ngIf="visible" class="search-bar" fxFlex="auto" fxHide.lt-sm="true">
        <mat-form-field class="search">
          <input matInput type="text" placeholder="Search" #search> <!-- {{ search.focus() }} -->
        </mat-form-field>
      </div>

      <button mat-icon-button class="topbar-button-right margin-right" (click)="visible=!visible" fxHide.lt-sm="true">
        <mat-icon>search</mat-icon>
      </button>

      <!-- <span fxFlex="auto" fxHide.gt-lg="true"></span> -->

      <!-- <div class="search-bar" fxFlex="auto" fxHide.lt-sm="true">
        <mat-form-field>
          <input matInput type="text" placeholder="Search">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div> -->

      <mat-select placeholder="Language" [(value)]="selected" class="language">
        <mat-option value="English">English</mat-option>
        <mat-option value="Hindi">Hindi</mat-option>
      </mat-select>

      <button mat-icon-button class="topbar-button-right" matTooltip="Color Schemes">
        <mat-icon>format_color_fill</mat-icon>
      </button>

      <button mat-icon-button class="topbar-button-right" matTooltip="Notifications">
        <mat-icon>notifications</mat-icon>
      </button>

      <button mat-icon-button class="topbar-button-right img-button">
        <img src="assets/User.png">
      </button>

    </mat-toolbar>

    <dashboard></dashboard>

  </mat-sidenav-content>

</mat-sidenav-container>



<!-- It starts here -->

<!--

          <div class="app-sidenav">

            <div class="icon-menu">
              <div class="mt-1 mb-1 nav-item-sep">
                <mat-divider class="mat-divider" role="separator" aria-orientation="horizontal" style="margin: 0px -24px"></mat-divider>
                <span class="text-muted icon-menu-title">Frequently Accessed</span>
              </div>
              <div class="icon-menu-item">
                  <button mat-raised-button="" routerlinkactive="mat-bg-primary" tabindex="0" class="mat-raised-button ng-star-inserted" aria-describedby="cdk-describedby-message-44" cdk-describedby-host="" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <span class="mat-button-wrapper">
                      <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">home</mat-icon>
                    </span>
                    <div class="mat-button-ripple mat-ripple" matripple=""></div>
                    <div class="mat-button-focus-overlay"></div></button>
              </div>
              <div class="icon-menu-item ng-star-inserted">
                <button mat-raised-button="" routerlinkactive="mat-bg-primary" tabindex="0" class="mat-raised-button ng-star-inserted mat-bg-primary" aria-describedby="cdk-describedby-message-45" cdk-describedby-host="" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                  <span class="mat-button-wrapper">
                    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">person</mat-icon>
                  </span>
                  <div class="mat-button-ripple mat-ripple" matripple=""></div>
                  <div class="mat-button-focus-overlay"></div>
                </button>
              </div>
            </div>

            <div>
                <div class="nav-item-sep ng-star-inserted">
                  <mat-divider class="mat-divider" role="separator" aria-orientation="horizontal"></mat-divider>
                  <span class="text-muted">Main Items</span>
                </div>
            </div>

            <div class="lvl1 ng-star-inserted">
                <a appdropdowntoggle="" class="mat-ripple ng-star-inserted" matripple="" href="/dashboard" style="flex-direction: row; box-sizing: border-box; display: flex;">
                  <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">dashboard</mat-icon>
                  <span class="item-name lvl1">Dashboard</span>
                  <span fxflex="" style="flex: 1 1 1e-09px; box-sizing: border-box;"></span>
                  <span class="menuitem-badge mat-bg-accent ng-star-inserted">100+</span>
                </a>
              </div>

          </div>

          <div class="ps__rail-x" style="left: 0px; bottom: -246.4px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div>
          <div class="ps__rail-y" style="top: 246.4px; height: 378px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 68px; height: 105px;"></div></div>
    </div>

  </mat-sidenav>


  <mat-sidenav-content>

    <mat-toolbar class="topbar">

      <button id="sidenavToggle" mat-icon-button="" (click)="sidenav.toggle()" matTooltip="Toggle Hide/Open" class="mat-icon-button ng-star-inserted" aria-describedby="cdk-describedby-message-49" cdk-describedby-host="" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <span class="mat-button-wrapper">
          <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">menu</mat-icon>
        </span>
        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </button>

      <button class="toggle-collapsed mat-icon-button ng-star-inserted" fxhide.lt-md="true" id="collapseToggle" mat-icon-button="" matTooltip="Toggle Collapse" aria-describedby="cdk-describedby-message-50" cdk-describedby-host="" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); display: block;">
        <span class="mat-button-wrapper">
          <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">chevron_left</mat-icon>
        </span>
        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </button>

          <div class="search-bar" fxflex="" fxhide.lt-sm="true" style="flex: 1 1 1e-09px; box-sizing: border-box; display: block;">
            <form class="top-search-form ng-untouched ng-pristine ng-valid" novalidate="">
              <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">search</mat-icon>
              <input autofocus="true" placeholder="Search" type="text">
            </form>
          </div>
          <span fxflex="" style="flex: 1 1 1e-09px; box-sizing: border-box;"></span>

          <mat-select class="mat-select ng-tns-c20-189 ng-untouched ng-pristine ng-valid ng-star-inserted" id="langToggle" name="currentLang" placeholder="" role="listbox" tabindex="0" aria-label="" aria-required="false" aria-disabled="false" aria-invalid="false" aria-multiselectable="false" style="width: auto;"><div class="mat-select-trigger" aria-hidden="true" cdk-overlay-origin=""><div class="mat-select-value"><span class="mat-select-value-text ng-tns-c20-189 ng-star-inserted"><span class="ng-tns-c20-189 ng-star-inserted">English</span></span></div><div class="mat-select-arrow-wrapper"><div class="mat-select-arrow"></div></div></div></mat-select>

          <button aria-haspopup="true" class="topbar-button-right mat-icon-button" id="schemeToggle" mat-icon-button="" mattooltip="Color Schemes" aria-describedby="cdk-describedby-message-47" cdk-describedby-host="" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); overflow: visible;"><span class="mat-button-wrapper">
            <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">format_color_fill</mat-icon>
          </span><div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div><div class="mat-button-focus-overlay"></div></button>
          <mat-menu class="ng-tns-c13-190 ng-star-inserted"></mat-menu>

          <button class="topbar-button-right mat-icon-button" mat-icon-button="" mattooltip="Notifications" aria-describedby="cdk-describedby-message-48" cdk-describedby-host="" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); overflow: visible;"><span class="mat-button-wrapper">
            <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">notifications</mat-icon>
            <span class="notification-number mat-bg-warn">3</span>
          </span><div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div><div class="mat-button-focus-overlay"></div></button>

          <button aria-haspopup="true" class="topbar-button-right img-button mat-icon-button" mat-icon-button=""><span class="mat-button-wrapper">
            <img alt="" src="assets/images/face-7.jpg">
          </span><div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div><div class="mat-button-focus-overlay"></div></button>
          <mat-menu class="ng-tns-c13-191 ng-star-inserted"></mat-menu>
        </mat-toolbar>

      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button> -->
  <!-- </mat-sidenav-content>

</mat-sidenav-container> -->


<!-- Its till here -->


<!-- <ng-container class="example-container">

  <mat-toolbar class="example-header">
      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    Header
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav
      #sidenav
      mode="side"
      [(opened)]="opened"
      class="example-sidenav"
      [fixedInViewport]="options.value.fixed"
      [fixedTopGap]="options.value.top"
      [fixedBottomGap]="options.value.bottom">
      Sidenav Content
    </mat-sidenav>  -->

    <!-- Main Content -->
    <!-- <mat-sidenav-content>
      <mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox>
      <button mat-button (click)="sidenav.toggle()">Toggle</button>
      <mat-toolbar class="example-footer">Footer</mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container> -->

  <!-- <mat-toolbar class="example-footer">Footer</mat-toolbar> -->

<!-- </ng-container> -->
<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Application Title</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container> -->
